.column {
  padding: 5px;
  float: left;
}
.link-subscribe {

}
.news_subscribe {
  color: #F5F5F5;
  background: #DE5C02;
  font-size: 13px;
  border: 4px solid #DE5C02;
  border-radius: 4px;
  transition: 0.1s;
  padding: 2px 2px;
}
.news_subscribe:hover {
  background: green;
  border-color: green;
}
.download-btn {
  background-color: rgb(61, 215, 61);
  padding: 12px 50px 12px 50px;
  font-size: 26px;
  text-transform: unset !important;
  color: #FFF
}
.download-btn:hover {
  background-color: #FF8027;
}
.i-am-centered {
  margin: auto;
  max-width: 595px;
}
.activity {
  color: #353535;
}
.back {
  color: #353535;
  float: right;
  text-decoration: none
}
.back:hover {
  color: #89C80E;
}
.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  color: white;
}
.dropdown-toggle {
  margin: 0;
}

