<div class="container mt-2" style="font-weight: normal; font-size: 15px">
  <div class="" style="float: left;">
    <div class="mb-2">
      <div class="title mb-4" >
        <h3 class="mb-3" style="font-size: 21px; font-weight: bolder">{{gameInfo.name}}</h3>
        <p style="font-size: 14px; color: #797979">Комментариев: <span class="activity">614</span> / Просмотров: <span class="activity">3138491</span></p>
      </div>
<!--      &#45;&#45;&#45;&#45;-->
      <div style="float: left; width: 200px; ">
        <div id="article-film-full-poster-bg">
          <img src="{{gameInfo.image}}" style="width: 200px; height: 286px" alt="Fortnite Battle Royale" title="Fortnite Battle Royale" class="article-img-full entry-image">
        </div>
        <div id="news-id-274"></div>
        <table class="ignore-select" width="100%" style="margin-bottom:0px; background:#e1e4e9; border-radius:0px;">
          <tbody>
          <tr>
            <td style="padding-top:8px; padding-bottom:8px;">
            </td>
            <td width="230px" align="center"><br>
              <a (click)="addSubs()" id="news_subscribe" class="link-subscribe" title="Подписаться на обновления">Подписаться на обновления</a><br>
              <div style="padding-top: 10px;">Подписалось: <b style="color:red; " id="count">2719</b></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
<!--      &#45;&#45;&#45;&#45;-->
<!--      gameinfo-->
      <div style="padding-left: 215px;">
        Год выпуска обновления: {{gameInfo.year}}<br>
        Жанр: {{gameInfo.category}}<br>
        Разработчик: {{gameInfo.developer}}<br>
        Издательство: {{gameInfo.publisher}}<br>
        Тип издания: {{gameInfo.type}}<br>
        Платформа: {{gameInfo.platform}}<br>
        Язык интерфейса: <b>{{gameInfo.language}}</b><br>
        Язык озвучки: <b>{{gameInfo.voice}}</b><br>
        Лекарство: <b>{{gameInfo.crack}}</b><br><br>
        <b>Системные требования</b><br>
        Операционная система: {{gameInfo.os}}<br>
        Процессор: {{gameInfo.processor}}<br>
        Видеокарта: {{gameInfo.videocard}}<br>
        Оперативная память: {{gameInfo.ram}}<br>
        Свободного места на диске: {{gameInfo.disk}}

        <div class="exampleone">

        </div>
      </div>
<!--      gameinfo-->
    </div>
    <div class="description mt-4">
      <div class="mb-2" style="font-size: 18px; font-weight: normal; color: #89C80E">Описание игры:</div>
      {{gameInfo.about}}<br/><br/>
      <div class="mb-2" style="font-size: 18px"><strong>Преимущества и особенности игры:</strong></div>
      <b>1.</b> Жанр игры: шутер с видом от первого лица и скачать кризис 1 через торрент бесплатно мечтает любой кто играет в игры.<br>
      <b>2.</b> Режим игры: однопользовательский и мультиплеер.<br>
      <b>3.</b> Игровая платформа: Windows, PS 3, Xbox Live.<br>
      <b>4.</b> Мощный сюжет, затрагивающий целую массу нюансов на фоне предапокалиптический событий – от взаимодействия стран на фоне предстоящей гибели всего человечества до взаимодействия между отдельными людьми.<br>
      <b>5.</b> Высокое качество графической и звуковой составляющей игры.<br>
      <b>6.</b> Максимальная натуралистичность: от детально прописанных изображений до смены погодных условий.<br>
      <b>7.</b> Одиннадцать полноценных игровых локаций по числу уровней.<br>
      <b>8.</b> У нам на сайте находиться полная русская версия игры, в общем скачай и играй.<br>
    </div><br><br><br>
    <div class="gallery mb-3">
      <div class="mb-3" style="font-size: 18px; font-weight: normal; color: #89C80E">Трейлер / Геймплей:</div>
      <div class="text-center">
      <iframe width="650" height="405" src="https://www.youtube.com/embed/u6gsOQ8HZAU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
      </div>
        <div class="mb-3" style="font-size: 18px; font-weight: normal; color: #89C80E">Скриншоты из игры:</div>
      <div class="i-am-centered">
      <div class="row" style="">
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen1}}" alt="Snow" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen2}}" alt="Forest" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen3}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen4}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen5}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen6}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen7}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
        <div class="column" style="">
          <img class="game-image" src="{{gameInfo.screen8}}" alt="Mountains" style="width:300px; height: 200px; margin: 0">
        </div>
      </div>
      </div>
    </div>

    <div class="torrent text-center mb-5">
      <div class="mb-2" style="font-size: 18.6px; font-weight: normal; color: #89C80E">Размер: {{gameInfo.size}} | Актуальная версия</div>
      <a href="" style=""><button class="btn rounded download-btn">Скачать игру</button></a>
    </div>

    <div class="recommendation">
      <div class="mb-2"  style="font-size: 18.6px; font-weight: normal;">Также рекомендуем похожие игры:</div>
      <div *ngFor="let element of games$.slice(0, 8); let i = index;" class="" style="width: 165px; float: left; margin-right: 20px; margin-top: 10px">
        <a [routerLink]="['/game-page/'+element.id]" onclick="$('html, body').animate({scrollTop:0},400)" ><img class="card-img-top rounded" style="width: 165px; height: 234px" src="{{element.image}}" alt="Card image cap">
        </a>
        <div class="" style="text-align: center">
          <a [routerLink]="['/game-page/'+element.id]" onclick="$('html, body').animate({scrollTop:0},400)" class="btn btn-link p-0 m-3">{{element.name}}</a><br>
        </div>
      </div>
    </div>
    <div class="float-left text-center" style="margin: 30px 0 30px 25px">
        <a routerLink="/faq" onclick="$('html, body').animate({scrollTop:0},400)" style="color: #353535; border: solid 2px red; padding: 8px 150px">FAQ по проблемам с установкой/запуском репаков</a>
      </div>
    </div>
  </div>
<app-comments></app-comments>
