<div class="mt-3 float-left">
  <a routerLink="/" class="module-title-articles back">На главную <i class="fas fa-chevron-circle-right fa-lg"></i></a>
  <div class="mb-3">
  <span class="">О буккроссинге</span><br>
  </div>
    <i>"Книга не только сама является другом, она еще и находит для вас других друзей. Когда вы приняли книгу умом и душой, вы обогатились. Но когда вы передаете ее другим, вы обогащаетесь трижды. "</i>
  <i class="float-right">- Генри Миллер <br>Книги в моей жизни (1969)</i><br>
</div>
<div class="mt-3 float-left">
  <div class="mb-3">
  <span>"Что такое Буккроссинг?"</span><br>
  </div>
    <p>Это всемирная библиотека. Это праздник литературы и место, где книги получают новую жизнь. Здесь книге присваивается уникальный идентификатор, предоставляя возможность наблюдать, как книга путешествует из рук в руки. Таким образом проект объединяет читателей всего мира. В настоящее время <b>1 938 232 буккроссеров</b> и уже <b>13 785 937 книг</b>, путешествующих по разным странам.
    Наше сообщество меняет мир.</p>
</div>
<div class="mt-3 float-left">
  <div class="mb-3">
  <span>"Какова наша цель?"</span><br>
  </div>
  <p><b>Наша цель</b> – популяризировать отечественных писателей и помочь в развитии интеллекта и грамотности народа на совершенно иной уровень.</p>
</div>
<div class="mt-3 float-left">
  <div class="mb-3">
  <span>"Как мы это делаем?"</span><br>
  </div>
    <p><b>Отметь. Передай. Наблюдай.</b> Вдохни новую жизни в книги! Вместо того, чтобы позволять вашим старым любимцам собирать пыль - передавайте их другим читателям. Наш интернет-архив и система наблюдения позволяют участникам взаимодействовать с другими читателями, журналами, обзорной литературой и магазинами и наблюдать через "чтение и выпуск", как изменилась жизнь своих книг. Пользователи имеют возможность помечать и отслеживать свои личные книги, поместив на них BCID (Буккроссинг-идентификатор). BCID - уникальный номер для каждой книги, присваивается на нашем сайте однажды и навсегда. По этому номеру за книгой можно наблюдать. Буккроссинг позволяет бесплатно присоединиться и получать удовольствие.
    <br>Так что будьте смелее с вашими книгами - читайте и передавайте дальше.</p>
</div>
<div class="mt-3 float-left">
  <div class="mb-3">
  <span>"Когда и как это началось?"</span><br>
  </div>
    <p>Ранее были сайты, отслеживающие, например, денежные купюры и фотографии. Деловой партнер Рон Хорнбекер отметил, что ничего не существует для отслеживания книг. В конце концов, книги есть нечто большее, нежели просто материальный объект, и несмотря на то, что они лишены способности к эмоциональной привязанности и глубокому сопереживанию, их не только коллекционируют и благоволят им, но и с их помощью приобщаются к культурному опыту цивилизаций. Это была точка отсчета проекта... Наконец, 21 апреля 2001 года Рон, его жена Каори и соучредители Брюс и Хизер Педерсен запустили этот сайт. Он интересен в первую очередь для распространения и отслеживания книг. Люди, которые им пользуются, имеют возможность взаимодействовать и выстраивать с его помощью конструктивый диалог.</p>
</div>
<div class="mt-3 mb-4 float-left">
  <div class="mb-3">
  <span>"Кто такие буккроссеры?"</span><br>
  </div>
    <p style="font-weight: bold">Буккроссеры - люди, которые ценят книги и любят их читать. Они, как правило, самые щедрые, инновационные, экологически ориентированные, добрые, причудливые, веселые и образованные люди на планете.</p>
</div>
