<form method="post" name="registration" id="registration" action="" style="font-size: 15px; font-weight: normal" [formGroup]="formGroup" (ngSubmit)="registrationProcess()">
  <div class="module-title mt-2 mb-4">
    <a routerLink="/" class="module-title-articles float-right">На главную <i class="fas fa-chevron-circle-right fa-lg"></i></a>
    <h1 style="font-weight: bolder; font-size: 21px">Быстрая регистрация:</h1>
  </div>

  Регистрация на нашем сайте позволит Вам быть его полноценным участником.
  Вы сможете оставлять свои комментарии, выставлять рейтинг и многое другое.

  <hr>



  <div class="article-add-field-description">Логин: <span class="impot">*</span></div>
  <input formControlName="login" class="reg" type="text" name="login" id="name" style="width:550px;" ngModel required>
  <input id="check" class="btn" title="Проверить доступность логина для регистрации" type="button" value="Проверить имя"><br/>
  <div id="result-registration"></div>
  <hr>
  <div class="article-add-field-description">Пароль: <span class="impot">*</span></div>
  <input formControlName="password" class="reg" type="password" name="password1" style="width: 694px;" ngModel required><br/>
  <hr>
  <div class="article-add-field-description">Повторите пароль: <span class="impot">*</span></div>
  <input formControlName="password1" class="reg" type="password" name="password2" style="width: 694px;"  ngModel required><br/>
  <hr>
  <div class="article-add-field-description">Ваш E-Mail: <span class="impot">*</span></div>
  <input formControlName="email" class="reg" type="text" name="email" style="width: 694px;"  ngModel required email><br/>
  <hr>
  <button name="submit" class="btn rounded" type="submit">Отправить</button>
</form>
