<div style="font-weight: normal; font-size: 15px" class="mt-3 mb-5">
  <div class="module-title">
  <h1 style="font-size: 21px; font-weight: bolder; color: #353535" class="mb-5">Немножко тех. поддержки :)</h1>
</div>
  <h2>
    <span style="color:#607D8B">О боже, в репаке\игре ВИРУС!!!! Как мне быть!?</span>
  </h2>
  <li>Наш сайт работает с 2014 года, и мы никогда не распространяли вирусы и не собираемся, а это обычная реакция на таблетку/кряк в игре, без которой игру надо покупать. Таблетка/кряк не является вирусом, но может определятся антивирусом или защитником виндовс как вирус. </li>
  <br><br>
  <h2>
    <span style="color:#607D8B">У меня не запускается игра/ничего не происходит/запускается steam/жалуется на отсутствие steam_api.dll, uplay_r1_loader.dll.</span>
  </h2>
  <li>Отсутствует steam_api.dll, uplay_r1_loader.dll и т.д значить, что Антивирус сожрал кряк, достаньте из карантина. Либо защитник Windows постарался. Отключить его можно этой программой <a href="https://drive.google.com/open?id=1VzLchiDlF7e0XSqyAxhLEyRWGbNAuF01">
    <span style="color:#3366FF">Win Updates Disabler</span>
  </a>, все равно он бесполезен, удаляет только таблетки/кряки, а настоящие вирусы пропускает
    <img style="vertical-align: middle;border: none;" alt="smile1" src="https://s1.torrents-igruha.org/engine/data/emoticons/smile1.gif">
  </li><br><br>
  <h2>
    <span style="color:#607D8B">ISDone.dll\Unarc.dll вернул код ошибки: -**.</span>
  </h2>
  <li>Любая ошибка с unarc.dll - перехешируйте торрент, ПРИНУДИТЕЛЬНО. Вероятность 99% что это исправит все ошибки с установкой. Если не помогло, то смотрим видео <a href="https://www.youtube.com/watch?v=varsYZl-wE4&amp;feature=emb_title">https://www.youtube.com/watch?v=varsYZl-wE4</a>.
  </li><br><br>
  <h2><span style="color:#607D8B">Ошибка: отсутствует\не найден файл msvc***.dll.</span>
  </h2>
  <li>Нужно установить Visual C++ (x64 - <a href="https://drive.google.com/open?id=1lJ6HjiN1NQrO8NM7H-Xy435qwLONMufJ">
    <span style="color:#3366FF">Скачать</span>
  </a> | x86 -
    <a href="https://drive.google.com/open?id=1oNRw3y2vIuI3iQttMKM_H10A5ff4HIQq">
      <span style="color:#3366FF">Скачать</span>
    </a>).</li><br><br><b>
  <span style="color:#607D8B">Запуск программы невозможен, так как на компьютере отсутствует d3dx*_**.dll/D3DCompiler_**.dll/X3DAudio*_*.dll/xactengine*_*.dll/xinput*_*.dll.</span></b><br>
  <li>Необходимо установить\переустановить <a href="https://drive.google.com/open?id=1G8glpE9vnddi1cq19YpIZ0Q1Q_u0kSa4">
    <span style="color:#3366FF">DirectX</span></a>.</li><br><br>
  <h2>
    <span style="color:#607D8B">В игре не воспроизводятся ролики.</span>
  </h2>
  <li>Попробовать установить/удалить <a href="http://codecguide.com/download_k-lite_codec_pack_mega.htm" target="_blank">
    <span style="color:#3366FF">K-Lite Codec Pack.</span></a>
  </li><br><br>
  <h2>Советы:</h2>
  <li>Для более быстрой установки отключите проверку "на лету" в антивирусе (только на время установки) и не нагружайте HDD\SSD\процессор.</li><br>
  <li>"Защитник Windows" в Win10 и Utorrent сильно тормозят установку! При включенных установка будет в 2-3 раза дольше. Отключить его можно этой программой <a href="https://drive.google.com/open?id=1VzLchiDlF7e0XSqyAxhLEyRWGbNAuF01">
    <span style="color:#3366FF">Win Updates Disabler</span></a>.
  </li><br>
  <li>Установите последнюю версию драйверов для видеокарты, <a href="https://drive.google.com/open?id=1G8glpE9vnddi1cq19YpIZ0Q1Q_u0kSa4">DirectX</a>, <a href="https://drive.google.com/open?id=1lJ6HjiN1NQrO8NM7H-Xy435qwLONMufJ">
    <span style="color:#3366FF">Microsoft Visual C++ Redistributable</span></a>, <a href="https://drive.google.com/open?id=1cJ1fOrHdBIY5AMRxKn5G3HPw1AHcQCEV">
    <span style="color:#3366FF">Microsoft .NET Framework</span></a>.
  </li><br><li>Запускайте инсталлятор и игру от имени Администратора.</li>
  <br>
  <div class="storenumber"></div></div>
