<div class="mt-2" style="width: 100%">
  <span>Карта буккроссинговых точек</span>
  <a style="font-weight: normal" routerLink="/" class="module-title-articles back mb-4">На главную <i class="fas fa-chevron-circle-right fa-lg"></i></a>
  <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Kazakhstan+(%D0%91%D1%83%D0%BA%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%BD%D0%B3%D0%BE%D0%B2%D1%8B%D0%B5%20%D0%B7%D0%BE%D0%BD%D1%8B)&amp;t=&amp;z=4&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    <a href="https://www.gps.ie/truck-gps/">fleet tracking gps</a>
  </iframe>
</div>
