<div style="font-weight: normal; font-size: 15px" class="mt-2">
  <div class="mb-5">
  <h1 style="font-size: 21px; font-weight: bolder">Disclaimer / Правообладателям</h1>
</div>
  Сайт не несёт ответственности за содержание материалов. Если вы являетесь правообладателям и хотите убрать свой материал с нашего сайта, то <u><a routerLink="/contacts">напишите администрации</a></u>. Напомним, что ваша собственность находилась в публичном доступе и только поэтому была опубликована на нашем сайте. Сайт некоммерческий, и мы не можем проверить все публикации пользователей.
  <br>
  <div class="storenumber"></div></div>
